@font-face {
  font-family: 'Inter';
  src: url(Inter-VariableFont_opsz,wght.ttf);
}

@font-face {
  font-family: 'Lora';
  src: url(Lora-VariableFont_wght.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: calc(24px + 1vmax);
  }
  
  body {
    /* font-family: 'GT America', Arial, Helvetica, sans-serif; */
    line-height: 1.25;
  
    background-color: #ffffff;
  }
  
  
  h1,
  h2,
  h3 {
    
    font-family: 'Lora', Arial, Helvetica, sans-serif;
  }
  
  p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }

  /* Header container */
  header {
    background-color: white;
    border-bottom: 1px solid #E5E7EB; /* border-gray-200 */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    width: 100%;
    padding-left: 104px; 
    padding-right: 104px;
    padding-top: 24px; 
    padding-bottom: 24px;

}
  
  


  
  .logo {
    height: 64px;
    width: 64px;
    align-items: right;
  }
  
  .menu-icon {
    height: 1.5rem; /* h-6 */
    width: 1.5rem;
  }
  

  nav {
    display: flex; /* Apply flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and links */
    width: 100%; /* Make the nav take the full width */
  }

  /* Navigation links (Desktop) */
  .nav-links {

    width: 100%; 
    height: 100%; 
    justify-content: flex-end;
     align-items: flex-end; 
     gap: 32px; 
     display: inline-flex
  }
  

  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5rem; /* leading-6 */
    color: #858483; /* gray-ish color */
   
  }
  
  .nav-link.active {
    color: #01510D;
    font-weight: 700;
    border-bottom: 2px solid #01510D;
    
  }
  
  .nav-link:hover {
    color: #333;
  }
  
  /* Larger screens */
  @media (min-width: 1024px) {
    .nav-links {
      display: flex; /* Display navigation links for large screens */
      gap: 2rem;
    }
  }
  

  .home-page{
    padding-bottom: 1rem;
    padding-top: 36px;
    padding-left: 50px;
    padding-right: 50px;
  


  }

  .home-header {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 12px;
  }

  .home-page p{ 
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .home {
    min-width: 0px;
    flex: 1 1 0%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem /* 32px */;
    font-size: 48px;
    font-weight: 500;
  }
  

  .home p {
    font-size: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  .home-layout{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Add this to create a gap between rows */
    align-items: start;
    row-gap: 0.5rem;
    column-gap: 0.5rem;

  }

  .green-sentence{
    color: #007646;
  }

  .today {
    background-color: #FFFCFE;
    border: solid 1px;
    border-radius: 0.375rem;
    border-color: #F7F1EA;
    padding: 24px;
    height: 100%;

  }

  .today-lemon-balm {
    background-color: #F9F4ED;
    border: solid 1px;
    border-color: #F9F4ED;
    border-radius: 0.375rem;

  }

  .today-lemon-balm h4 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    padding: 0.375rem;

  }


  .today-lemon-balm p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 0.375rem;

  }


  .today input{
    display: block;
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 0.375rem /* 6px */;
    border-bottom-left-radius: 0.375rem /* 6px */;
    border-width: 0px;
    padding-top: 0.375rem /* 6px */;
    padding-bottom: 0.375rem /* 6px */;
    padding-left: 2.5rem /* 40px */;
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity)) /* #111827 */;
    .placeholder\:text-\[\#252525\]::placeholder {
        --tw-text-opacity: 1;
        color: rgb(37 37 37 / var(--tw-text-opacity)) /* #252525 */;
    }
    .placeholder\:text-xs::placeholder {
        font-size: 0.75rem /* 12px */;
        line-height: 1rem /* 16px */;
    }


  }

  .today button{
    position: relative;
    background-color: #007646;
    color: #FFFFFF;
    margin-left: -1px;
    padding-left: 2.5rem /* 40px */;
    align-items: center;
    border-top-right-radius: 0.375rem /* 6px */;
    border-bottom-right-radius: 0.375rem /* 6px */;
    font-weight: 600;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    column-gap: 0.375rem /* 6px */;
    
  }

  .today-lemon-balm img{
    width: 100%;
    height: 3rem /* 48px */;

  }




  .my-plants {
    background-color: #FFFFFF;
    border: solid 1px;
    border-radius: 0.375rem;
    border-color: #F7F1EA;
    padding: 24px;
    height: 100%;


  }

  .my-plants-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Add this to create a gap between rows */
    align-items: start;
    row-gap: 0.5rem;
    column-gap:  0.375rem;


  }

  .my-plants-grid-card {
    background-color: #F9F4ED;
    border-color: #F9F4ED;

    border-radius: 0.375rem;
    
  }

  .my-plants-grid-card img{
    height: 120px;
    width: 100%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-color: #F9F4ED;
    
  }


  .my-plants-grid-header {
    color: #411C06;
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 20px;

    padding-block:  0.375rem;
    padding:  0.375rem;

  }

  .my-guides {
    background-color: #F7FFF9;
    border-color: #D3EEE3;
    border-radius: 0.375rem;
    padding: 24px;

  }


  .my-guides img {
width: 100%;

  }

  .my-guides p {
    padding-block:  0.575rem;

  }


  .my-guides-box {
    border: solid;
    border-color: #E1F1EF;
    background-color: #E1F1EF;
    border-radius: 0.375rem;
  
    margin-bottom: 0.775rem;
    
  }

  .my-guides-box img {

    border-color: #E1F1EF;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    height: 120px;
  

  }
  
  .my-guides-box h4{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    padding-block:  0.375rem;
    padding:  0.375rem;
  }
  

  .community {
    background-color: #FFFCFE;
    border: solid 1px;
    border-radius: 0.375rem;
    border-color: #F7F1EA;
    padding:24px;
    height: 100%;
    row-gap: 0.375rem;


  }

  .community h5 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #411C06;
    font-size: 24px;
    padding-block:  0.375rem;
  }

  .community-card {
    background-color: #F9F4ED;
    border: solid 1px;
    border-color: #F9F4ED;
    border-radius: 0.375rem;
   

  }


  .community-card h4 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #411C06;
    font-size: 20px;
    font-weight: 500;
    padding-block:  0.375rem;
    padding:  0.375rem;
  }


  .community-card p {

    font-size: 16px;
    font-weight: 400;
    padding-block:  0.575rem;
    color: #411C06;
    padding:  0.375rem;
  }


  .community img{

    height: 120px;
    width: 100%;
  }

  .community-b-t {
    width: 100%;
    padding:0%;
    background-color: #007646;
    border-color: #007646;
    color: #ffffff;
    border-radius: 0.25rem;
    border: solid 1px;
    font-size: 16px;
    padding-block:  0.175rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }


  .community-b-b {
    width: 100%;
    padding:0%;
    background-color: #D3EEE3;
    border-color: #D3EEE3;
    color: #007646;
    border-radius: 0.25rem;
    border: solid 1px;
    font-size: 16px;
    padding-block:  0.175rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

  }
  section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Add this to create a gap between rows */
    align-items: start;
    row-gap: 1rem;
  }
  
  section div.title {
    padding: 1rem;
    min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
    position: sticky;
    top: 0;
    display: flex; /* Apply flexbox */
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Ensure space is distributed evenly */
    overflow-y: auto; /* Prevent content overflow and allow scroll within this section */
  }


  
  section div.info {
    padding: 1.3rem;
    min-height: 100vh;

  }
  

  .lemon-balm {
    border: solid 1px;
    border-color: #D3EEE3;
    background: #F7FFF9;
    padding: 0.125rem; /* Adjust padding as needed */
    border-radius: 0.375rem;
    box-sizing: border-box; /* Include padding and border in height */
    flex: 1; /* Allow the box to grow and take remaining space */
  }

  .lemon-balm img{

    width: 180px;
    height: 180px;
    padding: 24px;

  }
  .lemon-balm-profile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-left: 0.875rem;
    
  }


  .lemon-balm-profile div {
    margin: 0.4rem 0.4rem 0.5rem 0;
    
  }

  .lemon-balm-profile div p {
    margin: 0.125rem;
    
  }



  .lemon-balm-harm {
    border: solid;
    border-color: #E33B32;
    background-color: #FFF5F4;
    border-radius: 0.375rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    margin-bottom: 0.875rem;

    margin-left: 0.875rem;
    margin-right: 0.875rem;
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns: one for SVG (auto) and one for text (1fr) */
    gap: 0.375rem; /* Space between the columns */
    align-items: start;

  }


  .lemon-balm-harm div p {
    margin: 0.4rem 0.4rem 0.5rem 0;
  }

  .lemon-balm-harm svg {
    color:#E33B32;
  }



  .lemon-balm h1 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #01510D;
    font-size: 40px;
    padding-left: 0.875rem;
    

  }

  .lemon-balm h2 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #01510D;
    font-weight: 500;
    font-size: 24px;

    padding-left: 0.875rem;

  }

  .lemon-balm h3 {
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    color: #01510D;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;

  }

  .lemon-balm p {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;

  }

  /* .lemon-balm-table {
    display: grid;
    margin-top: 0.875rem;
  } */

  .info h3 {
    font-weight: 500;
    size: 24px;
    color: #333333;

   }

   .info p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter';
    line-height: 24px;
   }

  .growing {
    border: solid;
    border-color: #F7F1EA;
    background-color: #F7F1EA;
    border-radius: 0.375rem;
    padding: 24px;
    margin-bottom: 20px;
  }

  .growing p {
    margin-top: 1px; /* Adjust the value to reduce the space */
    padding: 12px 0px;
  }

  .history {
    border: solid;
    border-color: #F3F4F8;
    background-color: #FCFBFF;
    border-radius: 0.375rem;
    padding: 24px;
    margin-bottom: 20px;
  }

  .history h4{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding: 24px 0px;
  }

  .history p{
    padding: 12px 0px;
  }

  .remedies {
    border: solid;
    border-color: #F7F1EA;
    background-color: #FFFCF8;
    border-radius: 0.375rem;
   
    margin-bottom: 10px;
   
  }

  .remedies  div {
    padding: 0 0.875rem;

    margin-bottom:  0.375rem;
    gap: 0.125rem;
    padding-block:  0.375rem;
    
  }

  
  .remedies p {
    margin-top: 1px; /* Adjust the value to reduce the space */
    padding: 12px 24px;
   
  }

  .remedies-box {
    border: solid;
    border-color: #FCF4E0;
    background-color: #FCF4E0;
    border-radius: 0.375rem;
    padding:  0.375rem;
    display: flex;
    justify-content: space-between; 
    color: #333333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  }
  
  .remedies-box h4{
    font-family: 'Lora', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    

  }
  .info .green-read-more {
    color: #007646;

  }


  
  @media (max-width: 800px) {
    section {
      grid-template-columns: 1fr;
    }
  
    section:nth-child(odd) div.title,
    section:nth-child(even) div.title {
     
  
      position: static;
      height: auto;
    }
  
    section:nth-child(1) div.title {
      aspect-ratio: 4 / 5;
    }
  }
  